/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap');

/* Variables */
:root {
  --color-primary: #fdfdfd;
  --color-secondary: #0b0223;
  --color-accent: #ff42a5;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;

  /* border: 1px solid red; */
}

ul,
ol {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Work Sans', sans-serif;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* Utilities */
.container {
  max-width: 350px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  border: 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 100vmax;
  padding: 0.75rem 1.675rem;
}

.title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
}

.text {
  color: rgba(0, 0, 0, 0.6);
}

.text-gradient {
  background: linear-gradient(rgba(249, 72, 178, 1), rgba(135, 88, 241, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem 0;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

.navbar__logo-text {
  font-size: 1.875rem;
  font-weight: 700;
}

.navbar__logo-img {
  width: 4rem;
}

.navbar__logo-text span {
  color: var(--color-accent);
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-weight: 500;
}

.navbar__menu-item.social-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.675rem 1.25rem;
  border-radius: 0.5rem;
  background-color: rgba(128, 128, 128, 0.2);
}

.navbar__menu-item img {
  width: 1.5rem;
}

/* Hero */
.hero {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2rem;
  padding-bottom: 3.5rem;
}

.hero__column-1 {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #fdf6fd;
  border-radius: 0.5rem;
  padding: 1rem;
}

.hero__title {
  display: grid;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.hero__title span {
  font-size: 4rem;
  font-weight: 700;
}

.hero__features {
  display: grid;
  gap: 0.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.hero__btn-group {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.hero__btn-1 {
  background-color: #ff42a5;
  color: #fff;
}

.hero__btn-2 {
  background-color: #4ec5f7;
  color: #fff;
}

/* About */
.about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-bottom: 3.5rem;
}

.about__column-2 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;
  align-items: center;
}

.about__btn {
  background-color: #ff42a5;
  color: #fff;
  margin-bottom: 2rem;
}

.about__tagline span {
  display: block;
  font-weight: 700;
  font-size: 1.25rem;
  color: rgba(11, 2, 35, 0.65);
}

/* Videos */
.videos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  padding-bottom: 3.5rem;
}

.video__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.video__card-img {
  position: relative;
}

.video__card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0);
  border-radius: 1rem;
}

.video__card-img-overlay .icon {
  font-size: 3rem;
}

.video__card:hover .video__card-img-overlay {
  display: flex;
  color: #fff;
}

.video__card-title {
  font-size: 0.875rem;
  padding-top: 1rem;
}

/* Play */
.play {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding-bottom: 3.5rem;
}

.play__column-1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.play__column-2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.play__img-1 {
  grid-column: 3/-1;
  grid-row: 1/10;
}

.play__img-2 {
  grid-column: 1/6;
  grid-row: 6/-1;
}

/* Categories */
.categories__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 3.5rem;
}

.category {
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 0.75rem;
  padding: 0.35rem;
  border-radius: 3rem;
  border: 2px solid transparent;
}

.category:hover {
  border-color: #ff42a5;
  color: #ff42a5;
}

/* Footer */
.footer {
  background: #0b0223;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-block: 2rem;
}

.footer > .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.footer__social-links {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  gap: 1.25rem;
  justify-content: center;
}

.footer__social-links .icon {
  font-size: 2rem;
}

.footer__logo img {
  width: 2.75rem;
}

.footer__logo-text {
  font-size: 1.75rem;
  font-weight: 700;
}

.footer__logo-text span {
  color: #ff42a5;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-weight: 700;
}

.footer__terms {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer__copyright {
  padding-top: 2rem;
  color: rgba(255, 255, 255, 0.6);
}

/* Media queries */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar__menu {
    flex-direction: row;
  }

  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .hero__column-1 {
    order: 0;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .about__column-2 {
    text-align: end;
    align-items: end;
  }

  .video__container {
    grid-template-columns: 1fr 1fr;
  }

  .video__card-title {
    font-size: 1rem;
    text-align: start;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }

  .title {
    font-size: 2.25rem;
  }

  .navbar {
    padding: 2rem 0;
  }

  .navbar__logo-text {
    font-size: 2.25rem;
  }

  .navbar__logo-img {
    width: 4.5rem;
  }

  .navbar__menu {
    gap: 2rem;
  }

  .video__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .play {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .play__column-1 {
    text-align: end;
  }
}
